@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #fff5ff;
    font-family: Poppins, sans-serif;

}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 

    h1, h2 {
        margin: 0;
    }

    h1{
        font-size: 3rem;
        font-weight: 400;
    }

    h2{
        font-size: 1.8rem;
        font-weight: 200;
    }

    menu{
        padding: 0;
        ul{
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            list-style: none;
            padding: 0;
            li{
               border: 2px solid #fff;
                background-color: #fff8;
                border-radius: 4rem;
                width: 300px;
                transition: all 0.4s ease-in;
                &:is(:hover){
                    background-color: #fffa;
                    transform: scale(1.02);
                }
                &:is(:hover) a span {
                    transform: scale(1.1) rotate(180deg);
                }
                
                a:is(:link, :visited) {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    text-decoration: none;
                    gap: 0.6rem;
                    color: #0009;

                    span{
                        background-color: #0009;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff9;
                        height: 36px;
                        transition: all 0.4s ease-in-out;
                        width: 36px;
                    }
                }

            }
        }
    }
}