/* - - - - - - - - - - - - - - - - - - - - */
/* V A R I A B L E S*/
/* - - - - - - - - - - - - - - - - - - - - */
:root {
    --ff-heading: "Poppins", sans-serif;
    --ff-body: "Poly", serif;
    --color-first: #2155CD;
    --color-second: #E8F9FD;
    --color-third: #0AA1DD;
    --color-fourth: #79DAE8;
    --color-fifth: #1E1E1E;
}
/* - - - - - - - - - - - - - - - - - - - - */
/* P R E L O A D*/
/* - - - - - - - - - - - - - - - - - - - - */
body:after {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content: url(../images/btn-hover.png) url(../images/btn-view-hover.png);
}

/* - - - - - - - - - - - - - - - - - - - - */
/* G E N E R A L*/
/* - - - - - - - - - - - - - - - - - - - - */
body {
    background-color: var(--color-fifth);
    font-family: var(--ff-body);
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        section.scroll {
            scrollbar-width: none;
            overflow-y: scroll;
            height: 620px;
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
    
            a:is(:link, :visited) {
                background: url(../images/Btn-Inicio.png) no-repeat center;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -2rem;
                transition: all 0.2s ease-in;
                width: 300px;
            }
    
            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.02) translate(-5px);
            }
        }
        background: url(../images/bg.image.png) no-repeat center;
        height: 800px;
        overflow: hidden;
        position: relative;
        width: 400px;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block: 1.5rem;
            position: relative;
            z-index: 3;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-fourth);
                    stroke-width: 4;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }

        nav.nav {
            background-color: #0009;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 10rem;
            opacity: 0;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(20%);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;
        }

        nav.nav.active {
            opacity: 1;
            transform: translateY(0%) scale(1);
        }
    }

    menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 15px;
        }

        a:is(:link, :visited) {
            background: url(../images/Btn-Inicio.png) no-repeat center;
            color: var(--color-fourth);
            font-size: 20px;
            height: 60px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.6rem;
            padding-left: 20px;
            margin-top: 1.2rem;
            transition: all 0.2s ease-in;
            text-decoration: none;
            width: 300px;
        }

        a:is(:hover) {
            background: url(../images/btn-hover.png) no-repeat center;
            transform: scale(1.02) translateY(-4px);
        }

        a:is(:active) {
            background: url(../images/btn-active.png) no-repeat center;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - W E L C O M E*/
/* - - - - - - - - - - - - - - - - - - - - */
main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1.5rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            margin-block: 1rem;

            img {
                height: 306px;
                width: 306px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -192px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1) translateX(4px);
            }
        }

        div.owl-dots {
            position: relative;
            top: -80px;

            button {
                transition: transform 0.2s ease-in;
            }

            button:is(:hover) {
                transform: scale(1.1);
            }

            button.owl-dot {
                span {
                    background-color: var(--color-second);
                    height: 16px;
                    width: 16px;
                }
            }

            button.owl-dot.active,
            button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-third);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - C A T A L O G U E*/
/* - - - - - - - - - - - - - - - - - - - - */
main.catalogue {
    section.scroll {
        

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            input {
                border: none;
                background: url(../images/ico-filter.svg) no-repeat 250px center,
                    url(../images/bg-input-filter.png) no-repeat center;
                color: var(--color-first);
                font-size: 20px;
                height: 100px;
                outline: none;
                text-indent: 16px;
                width: 300px;

                &::placeholder {
                    opacity: .5;
                    color: var(--color-first);
                }
            }
        }
    }

    article {
        h2 {
            display: flex;
            justify-content: center;
            font-family: var(--ff-heading);
            font-size: 20px;
            align-items: center;
            color: var(--color-third);
            gap: 0.5rem;
        }

        figure {
            figcaption {
                color: var(--color-third);
                font-size: 16px;
            }
        }

        a:is(:link, :visited) {
            background: url(../images/btn-view.png) no-repeat center;
            color: var(--color-fourth);
            height: 30px;
            display: flex;
            align-items: center;
            font-size: 16px;
            justify-content: center;
            text-decoration: none;
            width: 135px;
        }

        a:is(:hover) {
            background: url(../images/btn-view-hover.png) no-repeat center;
        }
    }

    div.owl-carousel {
        height: 210px;

        div.owl-item {
            display: flex;
            justify-content: center;
            margin-block: 1rem;

            img.slide {
                height: 120px;
                width: 120px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -160px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 34px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1) translateX(4px);
            }
        }
    }
}

main.view-game {
    header {
        margin-bottom: 1rem;
        h1 {
            font-family: var(--ff-heading);
            font-size: 36px;
            color: var(--color-fourth);
        }
    }
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: center;
        article {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            width: 300px;
            div.row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div.column {
                    h4 {
                        font-family: var(--ff-heading);
                        color: var(--color-fourth);
                        font-size: 20px;
                    }
                    p {
                        font-family: var(--ff-body);
                        color: var(--color-second);
                        font-size: 16px;
                        text-align: justify;
                        &.price {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - L O G I N*/
/* - - - - - - - - - - - - - - - - - - - - */
main.login,
main.register,
main.my-profile{
    header {
        .btn-back {
            visibility: hidden;
            pointer-events: none;
        }
    }
    section {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            div.form-group {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                gap: 0.6rem;
                flex-direction: column;
                width: 348px;
                label {
                    display: flex;
                    color: var(--color-fourth);
                    font-family: var(--ff-heading);
                    gap: 0.6rem;
                    font-size: 20px;
                }
                input {
                    border: none;
                    background: url(../images/input-login.png) no-repeat center;
                    outline: none;
                    font-size: 18px;
                    font-weight: 300;
                    color: var(--color-third);
                    text-indent: 1rem;
                    height: 65px;
                    width: 344px;
                    &::placeholder {
                        color: var(--color-third);
                        opacity: 0.6;
                    }
                }
                textarea {
                    border: none;
                    background: url(../images/bg-descripcion.svg) no-repeat center;
                    outline: none;
                    font-size: 18px;
                    height: 224px;
                    width: 344px;
                    padding: 3rem 3rem 3rem 3rem;
                    flex-wrap: wrap;
                    scrollbar-width: none;
                }
                img.ico-eye {
                    cursor: pointer;
                    position: absolute;
                    top: 60px;
                    right: 20px;
                }
                button {
                    background: url(../images/Btn-Inicio.png) no-repeat center;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    margin-top: 2rem;
                    transition: all 0.2s ease-in;
                    width: 348px;
                    cursor: pointer;
                }
        
                button:is(:hover) {
                    background: url(../images/btn-hover.png) no-repeat center;
                    transform: scale(1.02) translate(-5px);
                }
                a:is(:link, :visited) {
                    color: var(--color-third);
                    font-size: 16px;
                    justify-content: center;
                }
                .mask {
                    mask-repeat: no-repeat;
                    mask-position: center top;
                    object-fit: cover;
                    align-self: center;
                    height: 150px;
                    width: 150px;
                }
                .border {
                    cursor: pointer;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    left: 65px;
                    height: 208px;
                    width: 208px;
                }
                #photo {
                    display: none;
                }
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - D A S H B O A R D*/
/* - - - - - - - - - - - - - - - - - - - - */
main.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    header {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        .btn-back {
            visibility: hidden;
            pointer-events: none;
        }
    }
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        article.module {
            background: url(../images/Module-Users.svg) no-repeat center;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            gap: 0.6rem;
            height: 175px;
            width: 348px;
            aside {
                padding-left: 1.4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img.icon {
                    width: 92px;
                }
                span {
                    font-size: 24px;
                    color: var(--color-fourth);
                }
            }
            img.title {
                width: 200px;
            }
            a:is(:link, :visited) {
                position: absolute;
                bottom: 10px;
                right: 20px;
            }
            a:is(:hover) {
                background: url(../images/btn-enter-hover.svg) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - N A V D A S H B O A R D*/
/* - - - - - - - - - - - - - - - - - - - - */
main.dashboard,
main.my-profile,
main.users  {
    nav.nav {
        align-items: center;
        gap: 0.5rem;
        figure.avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            .border {
                position: relative;
                left: 45px;
                top: 40px;
            }
            .mask {
                mask-image: url(../images/shape-photo.svg);
                mask-repeat: no-repeat;
                mask-position: center;
                object-fit: cover;
                align-self: center;
                position: relative;
                height: 300px;
                width: 300px;
            }

        }
        h2 {
            color: var(--color-fourth);
            font-family: var(--ff-heading);
            font-size: 24px;
        }
        h4 {
            background: url(../images/bg-role.png) no-repeat center;
            font-size: 18px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-fourth);
        }
        section.scroll {
            scrollbar-width: none;
            overflow-y: scroll;
            height: 640px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - M Y P R O F I L E*/
/* - - - - - - - - - - - - - - - - - - - - */
main.my-profile {
    header {
        .btn-back {
            visibility: visible;
            pointer-events: all;
        }
        h1 {
            color: var(--color-fourth);
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        figure.avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .border {
                position: absolute;
                top: -35px;
            }
            .mask {
                mask-image: url(../images/shape-photo.svg);
                mask-repeat: no-repeat;
                mask-position: center top;
                object-fit: cover;
                align-self: center;
                position: relative;
                height: 300px;
                width: 300px;
            }

        }
        h2 {
            color: var(--color-first);
            font-weight: bold;
            font-family: var(--ff-heading);
            font-size: 24px;
        }
        span {
            color: var(--color-fourth);            
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;
            padding-left: 0.6rem;
            font-size: 16px;
            width: 190px;
            }
        span.data-description {
            background: url(../images/bg-description.png) no-repeat center;
            height: 100;
            width: 300;

        }
        span.role {
            color: var(--color-first);            
            height: 60px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;
            padding-left: 0.4rem;
            font-size: 16px;
            font-weight: 400;
            width: 190px;
        }
        span.email {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-first);
            font-weight: bold;
            font-size: 18px;
            height: 20px;
            
        }
        span.role {
            background: url(../images/bg-administrador.svg) no-repeat center;
            color: var(--color-first);
        }
        div.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.6rem;
            span {
                background: url(../images/bg-data-odd.svg) no-repeat center;
            }
            span:nth-child(-n+2),
            span:nth-child(n+5) {
                background: url(../images/bg-data-odd.svg) no-repeat center;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - U S E R S*/
/* - - - - - - - - - - - - - - - - - - - - */
main.users {
    header {
        .btn-back {
            visibility: visible;
            pointer-events: all;
        }
        h1 {
            color: var(--color-fourth);
        }
    }
    section {
        scrollbar-width: none;
        overflow-y: scroll;
        height: 600px;
        div.area {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
        a.add:is(:link, :visited) {
            background: url(../images/btn-add.svg) no-repeat center;
            color: var(--color-fourth);
            height: 60px;
            display: flex;
            margin-bottom: 1rem;
            align-items: center;
            font-size: 16px;
            font-weight: 300;
            justify-content: center;
            gap: 1rem;
            text-decoration: none;
            transition: all 0.4s ease-in;
            width: 150px;
            img {
                width: 70px;
            }
        }
        a.add:is(:hover) {
            background: url(../images/btn-add-hover.png) no-repeat center;
            transform: scale(1.02) translateY(-4px);
        }
        a.add:is(:active) {
            background: url(../images/btn-add-active.png) no-repeat center;
        }
        article.record {
            background: url(../images/bg-article-users.svg) no-repeat center;
            display: flex;
            align-items: center;
            position: relative;
            gap: 0.6rem;
            height: 100px;
            width: 340px;
            figure.avatar {
                position: relative;
                padding-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .border {
                    position: absolute;
                }
                .mask {
                    mask-image: url(../images/shape-small.svg);
                    mask-repeat: no-repeat;
                    mask-position: center top;
                    object-fit: cover;
                    align-self: center;
                    position: relative;
                    height: 80px;
                    width: 80px;
                }
    
            }
            aside {
                h3 {
                    color: var(--color-third);
                    font-size: 18px;
                    font-weight: 700;
                    position: absolute;
                    left: 100px;
                    top: 20px;
                }
                h4 {
                    color: var(--color-third);
                    font-size: 14px;
                    font-weight: 500;
                    position: absolute;
                    left: 100px;
                    top: 50px;

                }
            }
            figure.actions {
                background: url(../images/bg-actions.svg) no-repeat center;
                height: 40px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-around;
                bottom: 8px;
                right: 8px;
                width: 120px;
                a:is(:link, :visited) {
                    transition: all 0.2s ease-in;
                    opacity: 0.7;
                    padding: 4px;
                    text-decoration: none;
                    transform: scale(0.9);
                }
                a:is(:hover) {
                    opacity: 1;
                    transform: scale(1.05);
                }
            }
        }
        article.record:nth-child(even) {
            background: url(../images/bg-article-users.svg) no-repeat center;
        }
    }
    div.paginate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 380px;
        margin-top: 0.8rem;
        margin-inline: auto;
        span {
            color: var(--color-second);
            font-size: 16px;
            font-weight: 400;
        }
        a:is(:link, :visited) {
            transition: all 0.2s ease-in;
            text-decoration: none;
        }
        a.btn-prev:is(:hover) {
            transform: scale(1.1) translateX(-4px);
        }
        a.btn-next:is(:hover) {
            transform: scale(1.1) translateX(4px);
        }
    }
}