/* - - - - - - - - - - - - - - - - - - - - */
/* V A R I A B L E S*/
/* - - - - - - - - - - - - - - - - - - - - */
:root {
    --ff-heading: "Poly", serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #2155CD;
    --color-second: #E8F9FD;
    --color-third: #0AA1DD;
    --color-fourth: #79DAE8;
}
/* - - - - - - - - - - - - - - - - - - - - */
/* G E N E R A L*/
/* - - - - - - - - - - - - - - - - - - - - */
body {
    background-color: #1E1E1E;
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        background: url(../images/bg.image.png) no-repeat center;
        height: 800px;
        overflow: hidden;
        width: 400px;
    }
  }
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - W E L C O M E*/
/* - - - - - - - - - - - - - - - - - - - - */
main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1.5rem;
    }
    section.slider {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        a:is(:link, :visited) {
            background: url(../images/Btn-Inicio.png) no-repeat center;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5.2rem;
            transition: all 0.4s ease-in;
            width: 300px;
        }
        a:is(:hover) {
            background: url(../images/btn-hover.png) no-repeat center;
            transform: scale(1.02) translate(-5px);
        }
        a:is(:active) {
            background: url(../images/btn-active.png) no-repeat center;
        }
    }
}
